/.svn/
/documents/*
!/documents/roboeffect_user_manual.release.html
!/documents/audio_effects_overview.release.html
!/documents/build_bat_user_manual.release.html
!/documents/roboeffect_third_party_user_manual.release.html


/efuse_auto/
/cmake_build/
/make_robo/
/roboeffect_lib/
/Debug/

AudioEffectLibsData.ini
AudioEffectLibsData.xml
AudioEffectLibsData.xlsx
makefile_lib.ini

markdownhere.css
/tools/*
!/tools/AP82XX_PC_Tool_V0.3.exe
!/tools/makefile_gen.py
!/tools/makefile_gen.exe
!/tools/makefile_gen
!/tools/o26_download_v1.6.exe
!/tools/o26_download_v1.8-4k-crc.exe
!/tools/mva_maker.py
!/tools/adapt_files_gen.py
!/tools/adapt_files_gen.exe
!/tools/adapt_files_gen
!/tools/v3_params_func_gen.exe
!/tools/params_msg_mapping.xlsx
!/tools/gcc_error_msg.py

/tools/*
!/tools/dbg_reset_and_run.txt
!/tools/gitlab_runner/
/tools/gitlab_runner/*
!/tools/gitlab_runner/.gitlab-ci-mvs.yml
!/tools/gitlab_runner/main.yml
!/tools/gitlab_runner/readme.md
!/tools/gitlab_runner/run_codespaces.sh

/.vscode/.BROWSE.VC.DB
**/*dump
**/effect_libs_info_*.bin
**/roboeffect_library_info_*.bin
**/*.c_*

*_default_params.txt

**/~$*.xlsx

# nds32-ae210p.ld

openocd.cfg

# roboeffect_adapt.c
# roboeffect_adapt.h

cscope.out
ctags.out

log.log
